@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital@0;1&display=swap');

:root {
    --color-secundario: #FF6C00;
    --fuente-gris: #9DA4BD;
}

body {
    padding: 0;
    margin: 0;
    background-color: grey;
    display: flex;
}

.enlaces-aside {
    color: #303030;
    text-decoration: none;
}

.enlaces {
    color: white;
    text-decoration: none;
}

.enlaces:hover, .enlaces-aside:hover {
    color: var(--color-secundario);
}

aside {
    background-color: white;
    padding: 10px;
}

aside * {
    position: sticky;
}

#seccion-principal {
    display: block;
    background-image: url("/imagenes/main-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 40px;
}

#seccion-principal > header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar {
    display: inline;
}

.contactos {
    display: inline;
}

aside > a {
    display: block;
}

.button-service {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--color-secundario);
    border-radius: 25px;
}

.button-service:hover {
    background-color: var(--color-secundario);
    border: 1px solid white;
}

h1 {
    color: white;
    font-size: 65px;
    letter-spacing: 1px;
    font-family: "Raleway";
}

#main-content {
    color: var(--fuente-gris);
    font-family: "Open Sans";
    line-height: 20px;
    letter-spacing: 0.5px;
}

